body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #a3a3a3;
    font-size: 1em;
    color: #272727;
}

a:link,
a:visited {
    color: #0170c0;
    text-decoration: underline;
}

a:visited {
    color: #4d4d4d;
    text-decoration: none;
}

.clear {
    clear: both;
    line-height: 0px;
}

.container {
    width: 1280px;
    margin: 10px auto;
    border: 1px solid #696969;
    background: #f7f7f7;
}

.header {
    padding: 10px 30px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Rammetto One', cursive;
    line-height: 28px;
    padding: 0px;
    margin: 0px;
    color: #c5deef;
    text-shadow: 1px 1px 6px #000;
}

.caption {
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
}

.nav {
    background: #2f2f2f;
    width: 100%;
    padding: 0px;
    font-size: 1em;
}

a.navitem {
    font-size: 16px;
    color: #d3e6f3;
    font-weight: bold;
    padding: 9px 30px;
    line-height: 40px;
    text-decoration: none;
    text-transform: uppercase;
}

a.navitem:hover {
    background: #454545;
}

a.navitem.active {
    color: #fff;
}

.toolbox {
    color: #fff;
    float: right;
    clear: both;
    padding: 9px 20px;
}

.main {
    margin: 20px;
    min-height: 300px;
    display: block;
}

.col-5 {
    width: 18%;
    float: left;
    clear: right;
    display: inline;
    margin: 1%;
}

.col-4 {
    width: 23%;
    float: left;
    clear: right;
    display: inline;
    margin: 1%;
}

.col-3 {
    width: 31%;
    float: left;
    clear: right;
    display: inline;
    margin: 1%;
}

.col-2 {
    width: 48%;
    float: left;
    clear: right;
    display: inline;
    margin: 1%;
}

.col-1 {
    width: 99%;
}

.center {
    text-align: center;
}

.action-icon {
    border: 1px solid #333;
    border-radius: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 130px;
    text-align: center;
    background-color: #c5deef;
    text-shadow: 1px 1px 3px #666;
    padding: 25px 0px;
    cursor: pointer;
    display: inline;
    float: left;
    margin: 30px;
    color: #272727;
    text-decoration: none;
}

.action-icon:hover {
    background-color: #70aed8;
    transition: 0.7s;
}

.action-icon .material-icons {
    font-size: 36px;
    display: block;
}

.footer {
    background-color: #696969;
    color: #e5e5e5;
    text-align: center;
    padding: 20px;
}

.loading {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 20px;
    text-align: center;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
    font-size: 1.2em;
    color: #e4f0f8;
    font-family: 'Rammetto One', cursive;
    text-shadow: 1px 1px 4px #000;
}

.loading img {
    border: none;
    width: 100px;
    height: auto;
    padding: 0px;
    margin: 200px auto 20px auto;
}